.featured {
  padding: 2rem 4rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 30px;
  .featured_element {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
